.grid{
    color: #fff;
    .container{
        @include common_container-options;
        .grid__inner{
            padding-bottom: 140px;

            display: flex;
            justify-content: center;
            .grid__column{
                display: flex;
                flex-wrap: wrap;
                width: 25%;
            }
            .grid__item{
                width: 100%;
                text-align: center;
                min-height: 295px;
                padding: 0px 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                h3{
                    @include grid_title;
                }
                span{
                   @include grid-subtitle;

                }
                p{
                    @include grid_text;
                }
                a{
                    display: block;
                    font-weight: 800;
                    font-size: 0.875em;
                    margin-top: 22px;
                }
            }
            .grid__item-1{
                background-color: $grid_item_1-col;
                height: $tall_box-height;
            }
            .grid__item-2{
                background-color: $grid_item_2-col;
            }
            .grid__item-3{
                background-color: $grid_item_3-col;
            }
            .grid__item-4{
                background-color: $grid_item_4-col;
            }
            .grid__item-5{
                background-color: $grid_item_5-col;
            }
            .grid__item-6{
                background-color: $grid_item_6-col;
            }
            .grid__item-7{
                background-color: $grid_item_7-col;
            }
            .grid__item-8{
                background-color: $grid_item_8-col;
            }
            .grid__item-9{
                background-color: $grid_item_9-col;
            }
            .grid__item-10{
                background-color: $grid_item_10-col;
                height: $tall_box-height;
            }
            .grid__item-inner-3,
            .grid__item-inner-7{
                position: relative;
                &::before{
                    position: absolute;
                    background-image: url(../images/icons/grid_twirer-icon.png);
                    width: 99px;
                    height: 25px;
                    top: -45%;
                    left: 50%;
                    transform: translateX(-50%);
                    content: '';  
                }
            }
            .grid__item-inner-5,
            .grid__item-inner-9{
                position: relative;
                &::before{
                    position: absolute;
                    background-image: url(../images/icons/grid_left-arrow.png);
                    width: 23px;
                    height: 13px;
                    top: -25px;
                    left: 50%;
                    transform: translateX(-50%);
                    content: '';  
                }
            }

        }
    }
}
@media (max-width: 960px){
    .grid .container .grid__inner{
        flex-wrap: wrap;
        display: flex;
    }
    .grid .container .grid__inner .grid__column {
        width: 45%;
        }    
}
@media (max-width: 770px){
    .grid .container .grid__inner .grid__item{
        min-height: 250px;
    }
    .grid .container .grid__inner .grid__item-1,
    .grid .container .grid__inner .grid__item-10{
        height: 500px;
        
    }
    .grid .container .grid__inner .grid__item h3{
        font-size: $S-subtitle_font-size;
    }
    .grid .container .grid__inner .grid__item span{
        font-size: $main_font-size;
    }
    .grid .container .grid__inner .grid__item{
        padding: 0px 25px;
    }
}
@media (max-width: 770px){
    .grid .container .grid__inner{
        flex-wrap: wrap;
        display: flex;
    }
    .grid .container .grid__inner .grid__column {
        width: 90%;
        } 
        .grid .container .grid__inner .grid__item{
            min-height: 200px;
        }
        .grid .container .grid__inner .grid__item-1,
        .grid .container .grid__inner .grid__item-10{
            height: 400px;
            
        }   
        .grid .container .grid__inner .grid__item h3{
            font-size: $S-subtitle_font-size;
        }
        .grid .container .grid__inner .grid__item 
        .grid .container .grid__inner .grid__item p {
            font-size: 0.990em;
            line-height: 18px;
        }
        .grid .container .grid__inner .grid__item a{
            margin: 10px 0 0;
        }
        .grid .container .grid__inner{
            padding-bottom: 70px;
        }
}
@media (max-width: 470px){
.grid .container .grid__inner .grid__item p {
    font-size: 0.680em;
    line-height: 16px;
}
}