.header{
    margin-top: 65px;
    @include header_menu-text ;
    .container{
        @include common_container-options;
        // background-color: #909090;
        .header__inner{
            margin: 0px 10px;
            height: 115px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $main_back_gro-col;
            align-items: center;
            position: relative;
            .header__content-left{
                display: inherit;
                align-items: center;
                justify-content: space-between;
                width: 580px;
                .header__logo{
                    width: 42px;
                    height: 42px;
                }
                .navigation{
                    width: 500px;
                    display: flex;
                    justify-content: space-between;
                    a{
                        display: inline;
                    }
                }
               
            }
            .mobile__menu{
                display: none;
                .menu__row{
                    width: 40px;

                    height: 7px;
                    background-color: #000;
                    position: relative;
                    &::before{
                        content: '';
                        height: 7px;
                        width: 40px;
                        position: absolute;
                        background-color: #000;
                        top: -13px;
                    }
                    &::after{
                        content: '';
                        height: 7px;
                        width: 40px;
                        position: absolute;
                        background-color: #000;
                        top: 13px;
                    }
                }
                .menu__row.active{
                    background: transparent;
                    &::before{
                        content: '';
                        height: 7px;
                        width: 40px;
                        position: absolute;
                        background-color: #000;
                        top: -7px;
                        transform: rotate(-45deg);
                        transition: all 1s;

                    }
                    &::after{
                        content: '';
                        height: 7px;
                        width: 40px;
                        position: absolute;
                        background-color: #000;
                        top: -7px;
                        transform: rotate(45deg);
                        transition: all 1s;

                    }
                }
            }
            .mobile__navigation{
                background-color: $main_back_gro-col;

                width: 100%;
                text-align: center;
                position: absolute;
                top: 115px;
                z-index: 1;
                display: none;
                border: .2px solid $border-color;
                a{
                    display: block;
                    margin: 20px 0;
                }
            }
            .mobile__navigation-max540{
                display: none;
                background-color: $main_back_gro-col;
                width: 100%;
                text-align: center;
                position: absolute;
                top: 115px;
                z-index: 1;
                border: .2px solid $border-color;
                a{
                    display: block;
                    margin: 20px 0;
                }
            }

            .header__content-right{
                display: inherit;
                align-items: center;
                justify-content: space-between;
                .header__menu{
                    justify-content: space-between;
                    max-width: 600px;
                    align-items: center;
                    display: inherit;
                    position: relative;
                    .header__login{
                        margin-left: 32px;
                        margin-right: 66px;
                        position: relative;
                        min-width: 40px;
                        &::before{
                            content: '';
                            background-image: url(../images/icons/user.svg);
                            width: 11px;
                            height: 17px;
                            position: absolute;
                            left: -20px;
                            top: -3px;
                        }

                    }
                    .header__basket{
                        position: relative;
                        margin-right: 66px;
                        min-width: 66px;

                        &::before{
                            content: '';
                            position: absolute;
                            background-image: url(../images/icons/brief-case.svg);
                            width: 17px;
                            height: 17px;
                            left: -24px;
                            top: -3px;
                        }
                    }
                    input[type=text]{
                        position: absolute;    
                        height: 42px;
                        position: absolute;
                        right: 43px;
                        top: 1px;
                        width: 0px;
                        opacity: 0;
                    }
                    .header__search-btn-img.active{
                        margin-left: 140px;
                        transition: all 1s;
                    }
                    input.search-area.text__area{
                        width: 180px;
                        height: 42px;
                        display: block;
                        border: 1px solid $border-color;
                        transition: all 1s;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
@media (max-width: 1160px){
    .header{
        margin: 0;
    }
    .header .container .header__inner .header__content-left .navigation{
        display: none;
    }
    .header .container .header__inner .mobile__menu{
        display: block;
        min-width: 35px;
        margin-right: 60px;
    }
    .header .container .header__inner .mobile__navigation-max540{
        opacity: 0;
    }
    
}
@media (max-width: 730px){

.header .container .header__inner .header__content-right .header__menu .header__basket{
    display: none;
    }
    .header .container .header__inner .header__content-left .header__logo{
        margin-left: -42px;
    }
    .header .container .header__inner .header__content-right .header__menu .header__login{
    display: none;
    }
    .header .container .header__inner{
        display: flex;
        justify-content: space-around;
    }
    .header .container .header__inner .header__content-left{
        width: 0;
    }
    .header .container .header__inner .mobile__menu{
        margin: 0;
        width: 30px;
        
    }
    .header .container .header__inner .header__content-right .header__menu{
        width: 0;
    }
    nav.mobile__navigation{
        opacity: 0;
    }
    .mobile__navigation-max540{
        display: block;
        
    }
    .header .container .header__inner .mobile__navigation-max540{
        opacity: 1;

    }
    .header .container .header__inner .header__content-left .header__logo{
        width: 38px;
        height: 38px;
    }
    .header .container.header__inner .header__content-right.header__search-btn-img
    {
        height: 38px;
        width: 38px;
    }
    .header .container .header__inner .header__content-right .header__menu .header__search-btn-img.active{
        margin-left: 0;
    }
    // .header .container .header__inner .header__content-right .header__menu input.search-area{
    //     width: 0px;
    //     height: 42px;
    //     display: inline;
    //     border: 1px solid $border-color;
    //     transition: all 1s;
    //     right: 1px;

    // }
    // .header .container .header__inner .header__content-right .header__menu input.search-area.text__area{
    //     width: 180px;
    //     height: 42px;
    //     display: inline;
    //     border: 1px solid $border-color;
    //     transition: all 1s;
    //     right: -2px;

    // }

    .header .container .header__inner .header__content-right .header__menu input[type=text]{
        position: absolute;    
        height: 42px;
        position: absolute;
        right: 43px;
        top: 1px;
        width: 0px;
        opacity: 0;
    }
    .header .container .header__inner .header__content-right .header__menu .header__search-btn-img.active{
        // margin-left: 140px;
        transition: all 1s;
    }
    .header .container .header__inner .header__content-right .header__menu input.search-area.text__area{
        width: 180px;
        right: -43px;
        height: 37px;
        display: block;
        border: 1px solid#959595;
        transition: all 0.5s;
        opacity: 1;
        top: 42px;
}
    // .header .container .header__inner .header__content-right .header__menu input.search-area.text__area{
    //     width: 180px;
    //     height: 42px;
    //     display: block;
    //     border: 1px solid $border-color;
    //     transition: all 1s;
    //     opacity: 1;
    // }


    .header .container .header__inner .mobile__menu{
        width: 30px;

    }
    .header .container .header__inner .mobile__menu .menu__row{
        height: 7px;
        margin-bottom: 6px;
    }
}

    @media (max-with: 560px){
    //     .header .container .header__inner .header__content-right .header__menu input.search-area.text__area{
    //         width: 180px;
    //         right: -43px;
    //         height: 38px;
    //         display: block;
    //         border: 1px solid#959595;
    //         transition: all 1s;
    //         opacity: 1;
    //         top: 42px;
    // }
}
    // .header__search-btn-img{
    //     margin-left: -2px;
    // }
    