.newsletter{

    .container{
        @include common_container-options;
        padding-bottom: 130px;

        .newsletter__title{
           @include newsletter_title;
        }
        .newsletter__subtitle{
            @include newsletter_subtitle;
        }
        .newsletter_input{
            max-width: 580px;
            text-align: center;
            margin: 60px auto;
            vertical-align: top;

            input[type=text]{
                right: 0;
                height: 52px;
                width: 480px;
                padding: 15px;
                font-size: $main_font-size;
                border: 1px solid $border_color;
                display: inline-block;
                position: relative;
            }
            input[type=submit]{
                font-size: $main_font-size;
                position: relative;
                color: #feeee4;
                padding: 16px 32px;
                right: 4px;
                border: 1px solid #e67429;
                background-color: #f68236;
            }
        }
    }
}
@media (max-width:770px){
    .newsletter .container .newsletter__title{
    font-size: $M-subtitle_font-size;
    }
    .newsletter .container .newsletter__subtitle{
       font-size: $main_font-size; 
    }
    .newsletter .container .newsletter_input input[type=text]{
        width: 50%;
        height: 40px;
        font-size: 0.875em;
    }
    .newsletter .container .newsletter_input input[type=submit]{
        height: 40px;
        top: 6px;
        font-size: 0.875em;
    }
    .newsletter .container{
        padding-bottom: 40px;
    }
}
@media (max-width:540px){
    .newsletter .container .newsletter__title{
        font-size: $S-subtitle_font-size;
        line-height: 60px;
        }
        .newsletter .container .newsletter__subtitle{
           font-size: 0.875em; 
           line-height: 20px;
        }
}

                









// .newsletter{
//     max-width: 1244px; 
//     background-color: $page_back_gro-col;
//     margin: 0 auto;
//     h2{
//         font-family: $main_font-reg;
//         font-size: 36px;
//         font-weight: bold;
//         text-align: center;
//         color: $main_font-color;
//         line-height: 35px;

//     }
//     p{
//         font-family: 'Georgia';
//         text-align: center;
//         color: $main_font-color;
//         font-style: italic;
//         font-size: 18px;
//         line-height: 35px;

//     }
//     .newsletter_input{
//         margin: 60px auto 0;
//         max-width: 580px;
//         text-align: center;
//         padding-bottom: 80px;
//         input[type=text]{
//             position: relative;
//             right: 0;
//             height: 52px;
//             width: 480px;
//             padding: 15px;
//             font-size: 16px;
//             border: 1px solid $border_color;
//             display: inline-block;
//         }
//         input[type=submit]{
//             background-color: #f68236;
//             position: relative;
//             color: #feeee4;
//             padding: 15px 32px;
//             right: 4px;
//             font-size: 17px;
//             border: 1px solid #e67429;

//         }
//     }
// }